# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [68]:
def lesser_of_two_evens(a,b):         #functoin to check to numbers
    if (a % 2 and b % 2) == 0:     #if the two num are even     
        if a>b  :
            print (b)                  #the same check the lesser and print i  
    if b>a:
        print(a)
    elif (a % 2 and b % 2) != 0:      #check if one of them is odd or both of them
        if a < b:                     #if its true so print the smalest between them
            print(b)
        else:
            print(a)

In [69]:
# Check
print(lesser_of_two_evens(2,4))

2
None

In [70]:
# Check
print(lesser_of_two_evens(2,5))

2
None

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):          #function for two string
     splitString = text.split()     #using built in function called split 
     if (splitString[0][0]==splitString[1][0]):     #check if the first letter in first string is the samr in the second string
         return True                               #if yes then return true if not eturn false
     else:
         return False

In [8]:
# Check
print(animal_crackers('eslam emam'))

True

In [9]:
# Check
print(animal_crackers('eslam belal'))

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [23]:
def makes_twenty(n1,n2):       #functions takes 2 integrs
     if (n1==20 or n2==20 or (n1+n2)==20):     #check if one of them is equal 20 or the sum of the two are 20
            return True                        #if yes return true
        
     else:                                     #if not return false
            return False

In [24]:
# Check
print(makes_twenty(20,10))

True

In [25]:
# Check
print(makes_twenty(2,3))

False

In [26]:
print(makes_twenty(12,8))      #check

True

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [35]:
def eslam_belal(name):    #function for capitalizes 1st an 4th letter of given name
     newString =''        #make a variable for name you want
     for x, c in enumerate(name):   #make for loop to do the function in 1st and 4th
        if (x==0):                  # if this is 1st letter make it capitlaized
             newString += c.upper()
        elif (x==3):                # if this is 1st letter make it capitlaized
             newString += c.upper()
        elif (x!=0 or x!=3):       #if not the first or the fourth print it as it is
             newString += c
     return(newString)

In [36]:
# Check
eslam_belal('eslam')

'EslAm'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [130]:
def almost_there(n):#make function to check the num in range 90:110 and 190:210 if the num in this ranges print true if not false
     if (n in range(90,110)): #check every num if its in range
        return True      #so return true 
     elif (n in range(190, 210)):  
        return True
     else:
        return False       #if not print false
    
#def almost_there(n):
     #if (abs(100 -n) < 10) or (abs(200-n)<10):
        #return True
     #else:
        #return False

In [131]:
almost_there(90)

True

In [132]:
# Check
almost_there(104)

True

In [133]:
# Check
almost_there(150)

False

In [40]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [59]:
def has_33(nums): #make a function to check a list of nums
    
    for i in range (len(nums)-1):   #for loop to check num
        
        if (nums[i] == 3 and nums[i+1]==3 ):  #if any num equal 3 and next one =3 so put true in signal
            signal=True
        else:
            signal=False       #if not put false in signal
    return signal               #then return signal

In [60]:
# Check
has_33([1, 3, 3])

True

In [61]:
# Check
has_33([1, 3, 1, 3])

False

In [62]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [77]:
def paper_doll(word):  #make a function for a word to triple every letter in it
    
    result=""         #result=a string
    
        
    for letter in word:       #for every letter in word
        result+=letter*3      # put in result the letter3 times
    return result             # then return result

In [78]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [79]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. reduce tIf their sum exceeds 21 *and* there's an eleven, he total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [111]:
def blackjack(a,b,c):   #make a function to check 3 num 
    for i in range(0,12):
        if sum((a,b,c)) <= 21:    # if their sum is less than or equal to 21, return their sum. 
            return sum((a,b,c))
        elif sum ((a,b,c)) > 21 and 11 in (a,b,c):  # if their sum is less than or equal to 21, return their sum. an exceed 11 reduce the sum by 10
            if a == 11:
                a -= 10
                continue
                if b == 11 and sum((a,b,c)) > 21:   # if the sum (even after adjustment) exceeds 21, return 'BUST'
                    b -= 10
                    continue
                    if c == 11 and sum((a,b,c)) > 21:
                       
                        print(sum-10)
                        break
                        return sum((a,b,c))

        else:
            return 'Bust'
        #معرفتش اعمل الجزا بتاع انقص 10

In [112]:
# Check
blackjack(5,6,7)

18

In [113]:
# Check
blackjack(9,9,9)

'Bust'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [124]:
def summer_69(lst): #function for sum of list but without the num from 6 to 9
    it = iter(lst)
    total = 0
    for x in it:
        if x == 6:
            9 in it
        else:
            total += x
    return total

In [125]:
# Check
summer_69([1, 3, 5])

9

In [126]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [127]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums): #function that takes in a list of integers and returns True if it contains 007 in order
    for x in range(0,len(nums)):
        first_0=nums.index(0)
        second_0=nums.index(0, first_0+1)
        seven=nums.index(7)
        if nums[first_0:second_0+1]!=seven and seven>second_0:
            return True
        else:
            return False

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [128]:
def count_primes(num):    #count the prime num in range 0:101
    counter = 0           #make counter intial value eq 0
    for n in range(2,num+1): #range from 2 to the given num
        prime=True           #put true in prime
        for i in range(2,n):  
            if(n%i == 0):    #if n divisble by i
                prime=False  #its not prime
                break
        if prime:   # every time its true add one in counter 
            counter += 1
    return counter  #then return counter

In [129]:
# Check
count_primes(100)

25

## Great Job!